{#

electrothemetopsellings.twig

Template file for admin panel.

#}
{{ header }}{{ column_left }}
<!-- content -->
<div id="content">
	<!-- page-header -->
	<div class="page-header">
		<!-- container-fluid -->
		<div class="container-fluid">
			<!-- pull-right -->
			<div class="pull-right">
				<button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i
					 class="fa fa-save"></i></button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
			</div>
			<!-- /pull-right -->
			<h1>{{ heading_title }}</h1>
			<!-- breadcrumb -->
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
			<!-- /breadcrumb -->
		</div>
		<!-- /container-fluid -->
	</div>
	<!-- /page-header -->
	<!-- container-fluid -->
	<div class="container-fluid">
		{% if error_warning %}
		<!-- alert-danger -->
		<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		<!-- /alert-danger -->
		{% endif %}
		<!-- panel -->
		<div class="panel panel-default">
			<!-- panel-heading -->
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
			</div>
			<!-- /panel-heading -->
			<!-- panel-body -->
			<div class="panel-body">
				<!-- form -->
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
					<!-- Name -->
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
						<div class="col-sm-10">
							<input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
							{% if error_name %}
							<div class="text-danger">{{ error_name }}</div>
							{% endif %}
						</div>
					</div>
					<!-- /Name -->
					<!-- Quantity -->
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-quantity">{{ entry_quantity }}</label>
						<div class="col-sm-10">
							<input type="number" min="0" name="quantity" value="{{ quantity }}" placeholder="{{ entry_quantity }}" id="input-quantity" class="form-control" />
						</div>
					</div>
					<!-- /Quantity -->
					<!-- Control elements will be here. -->
					<!-- Status -->
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
						<div class="col-sm-10">
							<select name="status" id="input-status" class="form-control">
								{% if status %}
								<option value="1" selected="selected">{{ text_enabled }}</option>
								<option value="0">{{ text_disabled }}</option>
								{% else %}
								<option value="1">{{ text_enabled }}</option>
								<option value="0" selected="selected">{{ text_disabled }}</option>
								{% endif %}
							</select>
						</div>
					</div>
					<!-- /Status -->
				</form>
				<!-- /form -->
			</div>
			<!-- /panel-body -->
		</div>
		<!-- /panel -->
	</div>
	<!-- /container-fluid -->
</div>
<!-- /content -->
{{ footer }}